* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

body {
  background: #e0dfdf;
  max-width: 70%;
  margin: 0 auto; 
}


.form-container {
  max-width: 50%;
  margin: 60px auto;
  padding: 50px 100px;
  background: rgb(247, 242, 242);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

p {
  text-align: center;
  margin-top: 50px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: #e3e7e9;
  outline: none;
}


button {
  width: 100%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #93999e;
}

.btn {
  background-color: #4c3a69;
}



.btn-addtask {
  background-color: #4c3a69;
  max-width: 60%;
  margin: 0 auto;
} 

#logoutBtn {
  background-color: #4c3a69;
  float: right;
  max-width: 20%;
  padding: 5px 5px;
}

h3 {
margin-top: 70px;
font-size: 25px;
}


#taskList {
  display: flex;              
  flex-direction: row;  
  gap: 50px;
}

li {
  background-color:  hsl(0, 5%, 88%);
  color: #4c3a69;
  width: 100px;              
  margin: 1px;               
  padding: 15px;              
  text-align: center;
  list-style-type: none;
}


.message {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}


.form-container-1 {
  max-width: 57%;
  margin: 20px auto;
  padding: 50px;
  text-align: center;
  background: rgb(247, 242, 242);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-container-1 p {
  margin-bottom: 10px;
  font-size: 14px;
}

a.login {
  background-color: #f8f7fa;
  text-decoration: none;
  font-weight: bold;
  color: #4c3a69;
}

a.login:hover {
  text-decoration: underline;
}

input, textarea, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #444246;
}

.form-container-3 {
  max-width: 80%;
  margin: 60px auto;
  padding: 30px 50px;
  background: rgb(247, 242, 242);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

    
th, td {
      border: 1px solid #0c0c0c;
      padding: 10px;
      text-align: left;
      color: black;
}
    
button {
      padding: 6px 12px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      color: white;
}

button.unblock {
  background-color: #28a745; /
    }
    
    #message {
      margin-top: 15px;
      padding: 10px;
      border-radius: 4px;
      display: none;
    }


    #message.success {
      background-color: #d4edda;
      color: #155724;
    }

#message.error {
  background-color: #f8d7da;
  color: #721c24;
}


.admin-panel {
  max-width: 80%;
  margin: 60px auto;
  padding: 50px 50px;
  background: rgb(247, 242, 242);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}